.hero__title {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-direction: column;
  align-items: center;
}

// .hero__title-background {
//   background: svg-load('stars1.svg', fill=none, stroke=#344e7c, stroke-width="8", fill-opacity=".9") center center / cover no-repeat;
//   width: 459px;
//   height: 270px;
//   position: absolute;
//   z-index: 1;
// }


.user__title {
  z-index: 2;
  color: $white;
}

.user__pic-img {
  display: inline-block;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  text-align: center;
}



.user__name {
  color: $white;


}