.socials.hero__links {
  position: absolute;
  top: 28px;
  left: 120px;
  transform: translate(-50%, -50%)
}

.socials__link-icon {
  background: svg-load('vk.svg', fill=$white) center center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .5s;
  margin-right: 30px;
  
  &:hover {
    background-image: svg-load('vk.svg', fill=$blue);
  }

  &--gh {
    background: svg-load('github.svg', fill=$white) center center no-repeat;
  
    &:hover {
      background-image: svg-load('github.svg', fill=$blue);
    }

  }

  &--in {
    background: svg-load('in.svg', fill=$white) center center no-repeat;
    
    &:hover {
      background-image: svg-load('in.svg', fill=$blue);
    }
  
  }
}

